.kda-form {
    background-color: #1c1c2b; /* Dark blue background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 1000px; /* Increase the max-width */
    margin: 20px auto;
    color: #e2c08d; /* Gold text color */
}

.kda-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e2c08d;
}

.kda-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kda-form input, .kda-form select {
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2a2a3e;
    color: #e2c08d;
}

.kda-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.kda-form button:hover {
    background-color: #0056b3;
}

.kda-form .error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.kda-display {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    background-color: #2a2a3e;
    border-radius: 5px;
    color: #e2c08d;
    font-weight: bold;
}
