.match-history {
    background-color: #1c1c2b; /* Dark blue background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    color: #e2c08d; /* Gold text color */
}

.match-history h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e2c08d;
}

.match-history ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.match-item {
    background-color: #2a2a3e;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.match-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.match-detail {
    flex: 1;
    min-width: 100px;
    margin: 5px;
    color: #e2c08d;
    text-align: center;
}
